*{
    padding:0;
    margin:0;
    padding:0;
}

body{
    font-family: Arial,Arial, Helvetica, sans-serif;
}

.flex-container{/*You use flexbox on the parent not the children*/
     height:110px;/*You need a height to use align-items */
    display:flex;/*This is the parent*/
    background-color:#f4f4f4;
    /* Always on the main axis(vertical) */

    /* justify-content:start; */
    /* justify-content:end; */
    /* justify-content:center; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    /* justify-content: space-evenly; */
    
    /* Always on the cross axis (horizontally) */
    /* align-items:center; */
    align-items: flex-start;

    /* If i want to create a column i use flex-direction */
    /* flex-direction:column; */
    /* flex-direction: row;This is the default */
    /* flex-direction:row-reverse; */
    
    /* flex-wrap: wrap; */
}


.item{/*This is the child of the parent element*/
    width:100px;/*You can also change width to flex-basis*/
    flex-grow:1;/*Since i set this all to 1 they will all grow to :1 when the screen is at it's maximum screen size item 3 will be a bit bigger because the*/
    height:100px;
    background: #254de4;
    margin:10px;
    color:white;/*color of text*/

    display:flex;/*the text inside the boxes*/
    justify-content: center;
    align-items: center;

}

.item:nth-of-type(1){
    /*If i want to move an individual box use this*/
/* align-self: start; */
/* order:2; */
flex-grow: 1;
}

.item:nth-of-type(2){
/* align-self: center; */
/* order:1; */
/*Changes the order of the boxes based on the number*/
flex-grow:1;
}

.item:nth-of-type(3){
/* align-self:end; */
/* order:3; */
flex-basis: 200px;
/*flex -basis changes the "width" of whatever it is targeting*/
flex-grow:1;
/*flex-grow starts off at the basis of whatever i set the flex-basis but it grows with the screen size*/
}