*{
    padding:0;
    margin:0;
    padding:0;
}

body{
    font-family: Arial,Arial, Helvetica, sans-serif;
}

.flex-container{/*You use flexbox on the parent not the children*/
     height:110px;/*You need a height to use align-items */
    display:flex;/*This is the parent*/
    background-color:#f4f4f4;
    /* Always on the main axis(vertical) */

    /* justify-content:start; */
    /* justify-content:end; */
    /* justify-content:center; */
    /* justify-content:space-around; */
    /* justify-content:space-between; */
    /* justify-content: space-evenly; */
    
    /* Always on the cross axis (horizontally) */
    /* align-items:center; */
    align-items: flex-start;

    /* If i want to create a column i use flex-direction */
    /* flex-direction:column; */
    /* flex-direction: row;This is the default */
    /* flex-direction:row-reverse; */
    
    /* flex-wrap: wrap; */
}


.item{/*This is the child of the parent element*/
    width:100px;
    height:100px;
    background: #254de4;
    margin:10px;
    color:white;/*color of text*/

    display:flex;/*the text inside the boxes*/
    justify-content: center;
    align-items: center;

}

.item:nth-of-type(1){
    /*If i want to move an individual box use this*/
/* align-self: start; */
order:2;
}

.item:nth-of-type(2){
/* align-self: center; */
order:1;
/*Changes the order of the boxes based on the number*/
}

.item:nth-of-type(3){
/* align-self:end; */
order:3;
}